<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tạo component</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
	<div id="computed">
		FirstName: <input type="text" v-model="firstname"> <br> <br>
		LastName : <input type="text" v-model="lastname"> <br>
		<h3>My name is {{firstname}} - {{lastname}}</h3>
		<h3 v-text="getfullname"></h3>
		<h3> Using computed method: {{getfullname}}</h3>
	</div>
</body>
<script>
	new Vue({
		el:"#computed",
		data:{
			firstname:'',
			lastname:''
		},
		computed:{
			getfullname:function(){
				return this.firstname + " " + this.lastname;
			}
		}
	})
</script>
</html>