<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>sd key</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div id="app">
		<template v-if="loginType">
		  <label>Username</label>
		  <input placeholder="Nhập username" key="username-input">
		</template>

		<template v-if="loginemail">
		  <label>Email</label>
		  <input placeholder="Nhập địa chỉ email" key="email-input">
		</template>
		<button>Thay đổi đăng nhập</button>
	</div>
	
</body>


<script>
	new Vue({
		el:'#app',
		data:{
			loginType:'username',
			loginemail:  'email'
		}
	});
</script>
</html>